@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Libre Baskerville", serif;
// font-family: "Work Sans", sans-serif;

// @font-face {
//     font-family: "compact";
//     src: url("../fonts/SFCompactDisplay-Regular.otf") format("opentype");
//     font-weight: 400;
// }