$gold: #B69D68;
$silver: #C0C0C0;
$primary: #1A1A1A;

body,
html {
    height: 100%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;

    &.hidden {
        overflow: hidden;
    }

    & * {
        line-height: 150%;
        box-sizing: border-box;
    }
}

@media(min-width:1500px) {
    .container {
        max-width: 1424px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.fill-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.border-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border: 1px solid $gold;
    border-radius: 30px;
    color: #fff;
    padding: 2px 16px;
    transition: 0.5s;

    &:hover {
        background: $gold;
    }
}

.explorelink {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid $silver;
    color: #fff;
    padding: 2px 16px;
    height: 44px;
    transition: 0.3s;

    img {
        width: 20px;
        margin-left: 4px;
        transition: 0.3s;
    }

    &:hover {
        background: $silver;
        color: #000;

        img {
            filter: brightness(0);
            animation: move 2s infinite;
        }
    }
}

.circle-link {
    position: relative;
    display: inline-flex;
    align-items: center;

    span {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $gold;
        color: #fff;
        height: 44px;
        border: 1.8px solid rgba(#fff, 0.2);
        padding: 3px 28px;
        border-radius: 60px;
        transition: 0.5s;
        background: linear-gradient(120deg, #B69D68 -12.15%, #e1ca99 32.72%, #D1B477 55.1%, #B69D68 118.39%);
    }

    i {
        border: 1.8px solid rgba(#fff, 0.2);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        background: $gold;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        background: linear-gradient(120deg, #B69D68 -12.15%, #e1ca99 32.72%, #D1B477 55.1%, #B69D68 118.39%);

        img {
            width: 20px;
            transition: 0.5s;
        }
    }

    &:hover {
        i {
            transform: translateX(5px);
        }

        span,
        i {
            border-color: rgba(#fff, 0.7);
        }
    }

    &.white {

        span,
        i {
            background: #fff;
            border: 1px solid #999;
            color: $primary;
        }

        &:hover {

            span,
            i {
                border-color: $primary;

                img {}
            }
        }
    }
}

@-webkit-keyframes move {

    0% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0);
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

h1,
.texth1 {
    font-family: "Libre Baskerville", serif;
    font-size: 56px;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;

    span {
        display: block;
        color: $silver;
    }
}

h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    color: #1A1A1A;
    text-transform: uppercase;

    span {
        color: $gold;
        display: block;
    }

    i {
        font-style: normal;
        color: $gold;
    }

    &.white {
        color: #fff;
    }
}

h3 {
    font-family: "Libre Baskerville", serif;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    color: #1A1A1A;
    text-transform: uppercase;

    &.white {
        color: #fff;
    }

    &.gold {
        color: #B69D68;
    }

    span {
        color: $gold;
        display: block;
    }

    i {
        font-style: normal;
        color: $gold;
    }
}

.greybg {
    background: #F2F2F2;
}

.text-end {
    text-align: right;
}

.pl80 {
    padding-left: 80px;
}

.position-relative {
    position: relative;
}












@media(max-width:1499.8px) {

    .texth1,
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 32px;
    }
}

@media(max-width:1399.8px) {

    .texth1,
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 28px;
    }

    .pl80 {
        padding-left: 60px;
    }
}

@media(max-width:1199.8px) {

    .texth1,
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }
}

@media(max-width:991.8px) {
    .hide-tablet {
        display: none !important;
    }

    .text-md-center {
        text-align: center;
    }
}

@media(max-width:767.8px) {
    .hide-tel {
        display: none;
    }

    .text-sm-start {
        text-align: left;
    }

    h3 {
        font-size: 24px;
    }

    h2 {
        font-size: 28px;
    }

    .text-sm-left {
        text-align: left;
    }

    .text-sm-center {
        text-align: center;
    }

}

@media(max-width:575.8px) {
    .pl80 {
        padding-left: 40px;
    }

    h3 {
        font-size: 21px;
    }

    h2 {
        font-size: 24px;
    }

    h1 {
        font-size: 32px;
    }
}








.bigger {
    margin: 0;
    font-size: 60px;
    font-weight: 800;
    padding: 20px;
    text-transform: uppercase;
    //   color: color-mix(in oklab, var(--color--main) 40%, black);
    display: inline-block;
    position: relative;
}

.text {
    max-width: 600px;
    width: 100%;
    line-height: 24px;
    text-align: left;
    color: #404040;
    padding: 20px;

    &.txt-center {
        text-align: center;
    }

    a {
        color: $primary;
    }
}


.has-animation {
    position: relative;

    h1,
    p,
    img {
        opacity: 0;
    }

    &.animate-in {

        h1,
        p,
        img {
            animation: textHidden 0.1s 1.1s forwards;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            z-index: 10;
        }

        &:before {
            background-color: $gold;
        }

        &:after {
            background-color: color-mix(in oklab, $gold 70%, black);
            animation-delay: .5s;
        }
    }

    &.animation-ltr.animate-in {
        &:before {
            animation: revealLTR 1.8s ease;
        }

        &:after {
            animation: revealLTR 1s .6s ease;
        }
    }

    &.animation-rtl.animate-in {
        &:before {
            animation: revealRTL 1.8s ease;
        }

        &:after {
            animation: revealRTL 1s .6s ease;
        }
    }
}

@keyframes revealRTL {
    0% {
        width: 0;
        right: 0;
    }

    65% {
        width: 100%;
        right: 0;
    }

    100% {
        width: 0;
        right: 100%;
    }
}

@keyframes revealLTR {
    0% {
        width: 0;
        left: 0;
    }

    65% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes textHidden {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}