header.header {
    position: fixed;
    left: 0;
    z-index: 9;
    width: 100%;
    left: 0;
    top: 40px;
    transition: 0.5s;

    .border-btn {
        backdrop-filter: blur(7px);
    }
}

.header__logo {
    img {
        max-height: 45px;
        vertical-align: top;
    }
}

.header__nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    li {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }

        a {
            color: #fff;
            position: relative;

            &::after {
                content: '';
                display: block;
                height: 2px;
                width: 0;
                background: $gold;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                transition: 0.3s;
                animation-timing-function: ease-in-out;
            }


            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }

        &.active {
            a {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}
