.hero-main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    height: 100vh;
    min-height: 550px;
    padding: 90px 0;

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 1;
    }

    &::before {
        height: 38%;
        top: 0;
        background: linear-gradient(to bottom, rgba(#1A1A1A, 0.5), rgba(#1A1A1A, 0));
    }

    &::after {
        height: 70%;
        bottom: 0;
        background: linear-gradient(to top, rgba(#1A1A1A, 0.5), rgba(#1A1A1A, 0));
    }

    .container {
        position: relative;
        z-index: 3;
    }

    h1 {
        margin-bottom: 40px;
    }

    .texth1 {
        margin-bottom: 28px;
    }

}

.heroinfo {
    p {
        color: #fff;
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h1 {
        img {
            max-height: 47px;
        }
    }
}

.infosection {
    padding: 120px 0;
    position: relative;
    overflow: hidden;

    .container {
        position: relative;
        z-index: 2;
    }

    .bigimg {
        width: calc(100% - 20px);
        position: relative;
        height: 570px;
    }

    .infbox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .imgwrap {
            position: relative;
            overflow: hidden;
            width: 100%;
            aspect-ratio: 1 / 1;

            img {
                width: 100%;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                color: #000;
                font-size: 14px;
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .description {
        padding-left: 80px;
        position: relative;

        &.dircol {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 100%;
        }

        p {
            color: #000;
        }

        .topblock {
            max-width: 440px;
        }
    }

    .bgelement {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.vertical-textbox {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    &::after {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background: #C0C0C0;
        left: 50%;
        position: absolute;
        top: 0;
    }

    span {
        writing-mode: sideways-lr;
        display: inline-block;
        background: #fff;
        position: relative;
        z-index: 1;
        padding-bottom: 26px;
        color: #999999;
    }

    &.darkbg {
        span {
            color: #999999;
            background: #1A1A1A;
        }

        &::after {
            background: #999999;
        }
    }

}

.whatwedo {
    padding: 120px 0;
}

.sectsubtitle {
    text-align: right;
    position: relative;
    margin: 0;

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        z-index: 1;
        background: #999999;
        position: absolute;
        top: 50%;
        left: 0;
    }

    span {
        display: inline-block;
        color: #999999;
        padding: 0 26px;
        position: relative;
        z-index: 2;
        background-color: #F2F2F2;
    }
}

.section-title {
    margin-bottom: 40px;
}

.wwd-item {
    background: #fff;
    display: flex;
    flex-direction: column;

    .descr {
        padding: 40px 40px 28px 40px;
    }

    h5 {
        font-family: "Libre Baskerville", serif;
        color: #000;
        margin-bottom: 53px;
        font-size: 28px;
        font-weight: 700;
        transition: 0.5s;
        min-height: 84px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    p {
        color: #000;
        font-size: 14px;
        margin-bottom: 12px;
        min-height: 150px;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .arrow-el {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #999999;
        width: 44px;
        height: 44px;
        transition: 0.5s;

        svg {
            max-width: 17px;

            path {
                transition: 0.5s;
            }
        }
    }

    .imgwrap {
        position: relative;
        height: 218px;
        overflow: hidden;

        img {
            transition: 0.5s;
            transform: scale(1.01);
        }
    }

    &:hover {
        .imgwrap {
            img {
                transform: scale(1.05);
            }
        }

        .arrow-el {
            border-color: $gold;
            background: $gold;

            svg {
                path {
                    fill: #fff;
                }
            }
        }

        h5 {
            color: $gold;
        }
    }

    &.black {
        background: #1A1A1A;

        h5,
        p {
            color: #fff;
        }

        .arrow-el {
            background: #fff;

            svg {

                path {
                    fill: #0E1E2B;
                }
            }
        }

        &:hover {
            h5 {
                color: $gold;
            }

            .arrow-el {
                border-color: $gold;
                background: $gold;

                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }

        .descr {
            order: 2;
        }

        .imgwrap {
            order: 1;
        }
    }
}

.leadership {
    padding: 80px 0;
    background: #1A1A1A;
    position: relative;

    .container {
        position: relative;
        z-index: 2;
    }

    h3 {
        margin-bottom: 48px;
    }

    p {
        color: #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .bgelement {
        position: absolute;
        right: 26px;
        top: 0;
        width: 900px;
        height: 100%;
        object-fit: cover;
    }
}

.leadership-imgblock {
    text-align: center;
    position: relative;

    img {
        max-width: 277px;
        border-radius: 50%;
    }

    a {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid $gold;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -17px;
        right: 40px;
        color: #fff;
        transition: 0.3s;

        span {
            display: inline-flex;
            align-items: center;

            img {
                margin-left: 4px;
                width: 20px;
            }
        }

        &:hover {
            background: $gold;
        }
    }
}

.connect {
    padding: 100px 0 0 0;

    .imgwrap img {
        vertical-align: top;
    }
}

.connect__header {
    margin-bottom: 72px;
    padding-bottom: 13px;
    border-bottom: 2px solid #1A1A1A;

    h2 {
        margin: 0;
    }
}

.connect-form__text {
    color: $primary;
    font-size: 18px;
    margin-bottom: 64px;
}

.inputfield {
    position: relative;
    margin-bottom: 28px;

    input,
    textarea {
        width: 100%;
        height: 70px;
        background: #F5F5F5;
        border: 1px solid #F5F5F5;
        padding-left: 32px;
        font-size: 18px;
        color: $primary;
        font-family: "Work Sans", sans-serif;
        transition: 0.3s;

        &::placeholder {
            color: #999;
        }

        &:focus {
            border-color: #d4d4d4;
        }
    }

    textarea {
        resize: none;
        height: 117px;
        vertical-align: top;
        padding-top: 15px;
        outline: none;
    }

    &.error {
        input {
            border-color: #FF0000;
        }
    }

}

.formstatus-message {
    font-size: 14px;
    margin: 0;

    &.error {
        color: #CBA200;
    }

    &.success {
        color: #6acb00;
    }
}

.connect-form .circle-link.white {
    span {
        min-width: 140px;
    }
}

@-webkit-keyframes pulse1 {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
       transform: scale(1);
    }
}

.infosection .bgelement,
.leadership .bgelement {
    animation: pulse1 18s infinite;
    animation-timing-function: ease-in-out;
}


.col-xxl-4 .heroinfo p,
.infosection .description p {
    text-indent: 65px;
}

// text-indent: 65px;


@media(max-width:1499.8px) {
    .hero-main h1 {
        margin-bottom: 30px;
    }

    .infosection .bigimg {
        height: 500px;
    }

    .wwd-item h5 {
        margin-bottom: 30px;
    }


}

@media(max-width:1399.8px) {
    .heroinfo h1 {
        margin-bottom: 20px;

        img {
            max-height: 40px;
        }
    }

    .hero-main .texth1 {
        margin-bottom: 20px;
    }

    .hero-main {
        padding-bottom: 40px;
    }

    .infosection .bigimg {
        width: 100%;
    }

    .infosection .infbox ul li {
        font-size: 12px;
    }

    .infosection .description {
        padding-left: 60px;
    }

    .wwd-item {
        .descr {
            padding: 20px;
        }

        h5 {
            font-size: 24px;
            min-height: 72px;
            margin-bottom: 15px;
        }

        .imgwrap {
            height: 160px;
        }



    }

    .leadership p br {
        display: none;
    }

    .leadership h3 {
        margin-bottom: 40px;
    }

    .leadership-imgblock img {
        max-width: 240px;
    }

    .leadership-imgblock a {
        width: 100px;
        height: 100px;
        font-size: 14px;
        right: 20px;
    }

    .connect__header {
        margin-bottom: 50px;
    }

    .connect-form__text {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .inputfield {
        margin-bottom: 20px;

        input {
            height: 56px;
        }
    }

    .inputfield input,
    .inputfield textarea {
        padding-left: 15px;
        font-size: 16px;
    }




    .infosection,
    .whatwedo {
        padding: 100px 0;
    }
}

@media(max-width:1199.8px) {
    .hero-main:after {
        background: linear-gradient(to top, rgb(26 26 26 / 70%), rgba(26, 26, 26, 0));
    }

    .heroinfo h1 img {
        max-height: 30px;
    }

    .heroinfo p {
        max-width: 440px;
    }

    .infosection .bigimg {
        height: 400px;
    }

    .formstatus-message {
        margin-bottom: 15px;
    }

}

@media(max-width:991.8px) {
    .hero-main:after {
        background: linear-gradient(to top, rgb(26 26 26 / 80%), rgba(26, 26, 26, 0));
    }

    .section-title {
        margin-bottom: 30px;
    }

    .wwd-item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .descr {
            width: 100%;
            max-width: 60%;
            flex: 0 0 60%;
        }

        .imgwrap {
            width: 100%;
            max-width: 40%;
            flex: 0 0 40%;
            height: auto;
        }

        h5 {
            min-height: inherit;
            font-size: 28px;
            -webkit-line-clamp: 4;
        }

        p {
            font-size: 16px;
        }
    }

    .infosection,
    .whatwedo {
        padding: 80px 0;
    }

    .leadership-imgblock {
        max-width: 400px;
        margin: 30px auto 0;
    }

    .connect {
        padding-top: 80px;

        .imgwrap {
            height: 100%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }

    .wwd-item {
        flex-direction: row;
    }
}

@media(max-width:767.8px) {

    .heroinfo {
        p {
            max-width: 100%;
            margin-bottom: 15px;
        }

        h1 {
            margin-bottom: 10px;

            span {
                color: #fff;
            }
        }
    }

    .hero-main:before {
        background: linear-gradient(to bottom, rgb(26 26 26 / 70%), rgba(26, 26, 26, 0));
    }

    .infosection .description .topblock {
        max-width: 100%;
    }

    .infosection .description.dircol {
        display: block;
    }

    .infosection .bigimg {
        display: none;
    }

    .sectsubtitle {
        text-align: left;
        margin-bottom: 10px;

        span {
            padding-left: 0;
        }
    }

    .wwd-item h5 {
        font-size: 24px;
    }

    .leadership-imgblock {
        max-width: 300px;
        transform: translateX(-30px);
    }

    .leadership-imgblock a {
        right: -20px;
        bottom: 0;
        background: $gold;
    }

    .connect .imgwrap {
        display: none;
    }

    .hero-main {
        min-height: 450px;
    }

    .explorelink {
        background: $gold;
        border-color: $gold;
    }







    .topblock h2 {
        margin-bottom: 15px;
    }

    .infosection,
    .whatwedo,
    .leadership {
        padding: 70px 0;
    }

    .connect {
        padding-top: 70px;
    }
}

@media(max-width:575.8px) {

    .infosection,
    .leadership,
    .whatwedo {
        padding: 60px 0;
    }

    .connect {
        padding-top: 60px;
    }

    .infosection .description {
        padding-left: 40px;
    }

    .section-title {
        margin-bottom: 20px;
    }

    .wwd-item {
        flex-direction: column;

        .descr,
        .imgwrap {
            max-width: 100%;
        }

        .imgwrap {
            height: 140px;
            max-width: 100%;
            flex: initial;
        }
    }

    .wwd-item.black {
        .imgwrap {
            order: 2;
        }

        .descr {
            order: 1;
        }
    }

    .whatwedo {
        padding-bottom: 30px;
    }

    .connect__header {
        margin-bottom: 30px;
    }

    .connect-form__text {
        margin-bottom: 30px;
    }

    .wwd-item h5 {
        font-size: 21px;
    }

}