.hero-main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    height: 100vh;
    min-height: 550px;
    padding: 90px 0;

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 1;
    }

    &::before {
        height: 38%;
        top: 0;
        background: linear-gradient(to bottom, rgba(#1A1A1A, 0.5), rgba(#1A1A1A, 0));
    }

    &::after {
        height: 70%;
        bottom: 0;
        background: linear-gradient(to top, rgba(#1A1A1A, 0.5), rgba(#1A1A1A, 0));
    }

    .container {
        position: relative;
        z-index: 3;
    }

    h1 {
        margin-bottom: 40px;
    }

}

.heroinfo {
    p {
        color: #fff;
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
