.hero-section {
    position: relative;
    // min-height: 850px;
    height: 100vh;
    max-height: 850px;
    min-height: 600px;
    display: flex;
    align-items: flex-end;
    padding: 90px 0 100px;

    .container {
        position: relative;
        z-index: 2;
    }

    &::before,
    &::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    &::before {
        top: 0;
        height: 42%;
        background: linear-gradient(to bottom, rgba(#1A1A1A, 0.5), rgba(#1A1A1A, 0));
    }

    &::after {
        bottom: 0;
        height: 75%;
        background: linear-gradient(to top, rgba(#1A1A1A, 0.5), rgba(#1A1A1A, 0));
    }

    h1 {
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.aboutsect {
    padding: 120px 0;

    .imgwrap {
        position: relative;
        height: 100%;
    }
}

.section-title.section-title__whitebg {
    margin-bottom: 80px;

    .sectsubtitle span {
        background: #fff;
        padding-right: 0;
    }

    h3 {
        span {
            color: #999;
        }


        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about-description {
    .title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    p {
        color: $primary;
        font-size: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .row {
        margin-left: -30px;
        margin-right: -30px;

        &>* {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.ourphilosophy {
    padding: 120px 0;
    background: #F2F2F2;

    h2 {
        margin-bottom: 40px;
    }

    p {
        font-size: 14px;
        color: #000;
    }
}

.vertical-textbox.greybg {
    span {
        background: #F2F2F2;
    }

    &::after {
        background: #C0C0C0;
    }

}

.greytext span {
    color: #999;
}

.ourphilosophy__topblock {
    margin-bottom: 228px;

    p {
        max-width: 484px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.ourphilosophy__botblock {
    p {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .smpic {
        max-height: 47px;
    }

    h3 {
        margin-bottom: 0;
    }
}

.building-img {
    position: absolute;
    right: 0;
    bottom: 200px;
    max-width: 695px;
    width: 100%;
}

.ourvision {
    position: relative;
    padding: 90px 0;
    background: #1A1A1A;

    .container {
        position: relative;
        z-index: 2;
    }

    .imgwrap {
        position: relative;
        height: 100%;

        .circlepic {
            width: 228px;
            height: 228px;
            overflow: hidden;
            position: absolute;

            &.circlepic__right {
                right: 0;
                top: -10px;
            }

            &.circlepic__left {
                left: 0;
                bottom: 0;
            }
        }
    }

}

.sectsubtitle.darkbg {
    span {
        background: transparent;
    }

    &::after {
        width: calc(100% - 100px);
    }
}

.sectsubtitle.whitebg {
    span {
        background: #fff;
    }
}

.vision-content {
    padding: 34px 0 117px;

    h2 {
        padding-left: 38px;
        margin-bottom: 40px;

        span {
            padding-left: 90px;
        }
    }

    p {
        color: $silver;

        &:last-child {
            margin-bottom: 0;
        }

    }


}

.approach {
    padding: 120px 0;

    h2 {
        margin: 0;
    }

    .section-title {
        margin-bottom: 60px;
    }
}

.approach__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.approach__item {
    width: 100%;
    max-width: 100%;
    flex: 0 0 31.5%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &.center-item {
        flex: 0 0 37%;
        background: url('../img/about/elipse2.svg') no-repeat top / 100% auto, url('../img/about/elipse3.svg') no-repeat bottom / 100% auto;

        &::after,
        &::before {
            content: '';
            display: inline-block;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            background: #B69D68;
            top: 50%;
            margin-top: -10px;
            position: absolute;
            z-index: 1;
            border: 4px solid #fff;
        }

        &::after {
            left: -10px;
        }

        &::before {
            right: -10px;

        }

        .description {
            width: 100%;
            max-width: 320px;
            flex: 0 0 320px;
        }
    }

    &.left-item {
        background: url('../img/about/elipse1.svg') no-repeat bottom / 100% auto;
    }

    &.right-item {
        background: url('../img/about/elipse4.svg') no-repeat top / 100% auto;
    }

    .description {
        width: 100%;
        max-width: 250px;
        flex: 0 0 250px;
        text-align: center;

        h3 {
            margin-bottom: 12px;
        }

        p {
            margin: 0;
            font-size: 14px;
            color: $primary;
        }
    }
}

.letstalk {
    padding: 113px 0;
    position: relative;
    background: $primary;
    overflow: hidden;

    .container {
        position: relative;
        z-index: 2;
    }

    h3 {
        line-height: 180%;
        margin: 0;

        .circle-link {
            vertical-align: middle;
            margin-top: -8px;

            span {
                font-size: 16px;
                text-transform: none;
                font-family: "Work Sans", sans-serif;
                font-weight: 400;
            }
        }
    }

}

@media(max-width:1499.8px) {

    .hero-section {
        max-height: 700px;
        padding-bottom: 50px;
    }
}

@media(max-width:1399.8px) {

    .hero-section {
        max-height: 650px;
        padding-bottom: 50px;
    }

    .section-title.section-title__whitebg {
        margin-bottom: 50px;
    }

    .about-description .row {
        margin-left: -10px;
        margin-right: -10px;

        &>* {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .about-description .title {
        margin-bottom: 20px;
    }

    .ourphilosophy__topblock {
        margin-bottom: 150px;
    }

    .ourphilosophy__botblock .smpic {
        vertical-align: top;
    }

    .building-img {
        max-width: 550px;
        bottom: 180px;
    }

    .vision-content {
        padding: 20px 0 80px;
    }

    .ourvision .imgwrap .circlepic {
        width: 200px;
        height: 200px;
    }




    .ourphilosophy__botblock p {
        margin-bottom: 10px;
    }

    .vision-content h2 {
        margin-bottom: 20px;
    }

    .about-description .title {
        font-size: 21px;
    }

    .aboutsect,
    .ourphilosophy,
    .approach,
    .letstalk {
        padding: 100px 0;
    }

    .ourvision {
        padding: 80px 0;
    }
}

@media(max-width:1199.8px) {

    .aboutsect {
        h3 {
            margin-top: 30px;

            span {
                display: inline;
            }
        }
    }

    .section-title.section-title__whitebg {
        margin-bottom: 30px;
    }

    .building-img {
        bottom: initial;
        top: -150px;
        max-width: 50%;
    }

    .ourphilosophy__botblock .position-relative {
        position: initial;
    }

    .ourphilosophy__topblock {
        position: relative;
        z-index: 2;
    }

    .ourphilosophy__topblock {
        margin-bottom: 100px;
    }

    .vision-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .ourvision .imgwrap .circlepic {
        width: 180px;
        height: 180px;
    }

    .approach__item .description h3 {
        font-size: 24px;
    }

    .approach__item.center-item .description {
        max-width: 260px;
        flex: 0 0 260px;
    }

    .approach__item .description {
        max-width: 220px;
        flex: 0 0 220px;
    }

    .about-description p,
    .ourphilosophy__topblock p {
        font-size: 16px;
    }
}

@media(max-width:991.8px) {

    .building-img {
        display: none;
    }

    .ourphilosophy__botblock {
        .col-xl-5 {
            order: 2;
        }

        .col-xl-7 {
            order: 1;
        }

        h3 {
            margin-bottom: 20px;
        }
    }

    .ourphilosophy__topblock {
        margin-bottom: 70px;
    }

    .vision-content h2 span {
        padding-left: 60px;
    }

    .ourvision .circlepic.circlepic__left {
        display: none;
    }

    .vision-content {
        padding: 30px 0 0 0;
    }

    .ourvision .imgwrap {

        .circlepic.circlepic__right {
            top: initial;
            bottom: 0;
        }
    }

    .approach .section-title {
        margin-bottom: 40px;
    }

    .approach__item.center-item .description {
        max-width: 200px;
    }

    .approach__item .description {
        max-width: 180px;
    }

    .approach__item .description h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .approach__item .description p {
        font-size: 13px;
    }


    .ourphilosophy__botblock p {
        font-size: 16px;
    }

    .aboutsect,
    .approach,
    .letstalk,
    .ourphilosophy {
        padding: 80px 0;
    }
}









// .approach__content {
//     justify-content: center;
// }

// .approach__item {
//     &.center-item {
//         max-width: 70%;
//         flex: 0 0 70%;
//     }

//     &.left-item,
//     &.right-item {
//         max-width: 50%;
//         flex: 0 0 50%;
//     }
// }