.hero-section {
    position: relative;
    min-height: 850px;
    display: flex;
    align-items: flex-end;
    padding: 90px 0 100px;

    .container {
        position: relative;
        z-index: 2;
    }

    &::before,
    &::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    &::before {
        top: 0;
        height: 42%;
        background: linear-gradient(to bottom, rgba(#1A1A1A, 0.5), rgba(#1A1A1A, 0));
    }

    &::after {
        bottom: 0;
        height: 75%;
        background: linear-gradient(to top, rgba(#1A1A1A, 0.5), rgba(#1A1A1A, 0));
    }

    h1 {
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.aboutsect {
    padding: 120px 0;

    .imgwrap {
        position: relative;
        height: 100%;
    }
}

.section-title.section-title__whitebg {
    margin-bottom: 80px;

    .sectsubtitle span {
        background: #fff;
        padding-right: 0;
    }

    h3 {
        span {
            color: #999;
        }


        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about-description {
    .title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    p {
        color: $primary;
        font-size: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .row {
        margin-left: -30px;
        margin-right: -30px;

        &>* {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.ourphilosophy {
    padding: 120px 0;
    background: #F2F2F2;

    h2 {
        margin-bottom: 40px;
    }

    p {
        font-size: 14px;
        color: #000;
    }
}

.vertical-textbox.greybg {
    span {
        background: #F2F2F2;
    }

    &::after {
        background: #C0C0C0;
    }

}

.greytext span {
    color: #999;
}

.ourphilosophy__topblock {
    margin-bottom: 228px;

    p {
        max-width: 484px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.ourphilosophy__botblock {
    p {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .smpic {
        max-height: 47px;
    }

    h3 {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.building-img {
    position: absolute;
    right: 0;
    bottom: 200px;
}

.ourvision {
    position: relative;
    padding: 90px 0;
    background: #1A1A1A;
    
    .container {
        position: relative;
        z-index: 2;
    }

}

.sectsubtitle.darkbg {
    span {
        background: transparent;
    }

    &::after {
        width: calc(100% - 100px);
    }
}

.vision-content {
    padding: 34px 0 117px;

    h2 {
        span {
            padding-left: 90px;
        }
    }
}