.insights-section {
    padding: 90px 0;
    border-bottom: 1px solid #C0C0C0;

    h3 {
        margin-bottom: 30px;
    }
}

.filter {
    max-width: 385px;
}

.stickybox {
    position: sticky;
    top: 100px;
}

.filter-item {
    padding: 18px 0;
    border-top: 1px solid rgba(#999999, 0.5);

    &:last-child {
        border-bottom: 1px solid rgba(#999999, 0.5);
    }

    .filter-descr {
        display: none;

        .d-flex {
            align-items: flex-start;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 18px 0 6px 0;

        li {
            margin-bottom: 18px;

            .filter-btn {
                border: none;
                background: transparent;
                padding: 0;
                outline: none;
                font-size: 14px;
                color: $primary;
                cursor: pointer;
                text-transform: capitalize;
                transition: 0.3s;

                &:hover {
                    color: $gold;
                }
            }
        }
    }
}

.sort-text {
    margin: 0;
    color: $primary;
    position: relative;
    transition: 0.3s;
    display: inline-block;
    padding-right: 22px;
    cursor: pointer;

    i {
        display: inline-block;
        width: 16px;
        height: 16px;
        font-style: normal;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        transition: 0.3s;

        svg {
            path {
                fill: $primary;
                transition: 0.3s;
            }
        }
    }

    &:hover {
        color: $gold;

        i svg path {
            fill: $gold;
        }
    }

    &.active {
        color: $gold;

        i {
            transform: translateY(-50%) rotate(-180deg);

            svg path {
                fill: $gold;
            }
        }
    }
}

.filter-content {
    display: none;

    &.active {
        display: block;
    }
}

.filter-tabbtns {
    max-width: 160px;
    flex: 0 0 160px;
}

.filter-tabcontent {
    max-width: calc(100% - 160px);
    flex: 0 0 calc(100% - 160px);
}

.filter-tabbtn {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;

    &.active {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}

.filtercheck {
    input {
        display: none;

        &:checked+label {
            &::before {
                background: url('../img/insights/check.png') no-repeat center / 100%;
            }
        }
    }

    label {
        display: block;
        position: relative;
        padding-left: 24px;
        cursor: pointer;

        &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid #C0C0C0;
        }
    }
}

.filter-item ul.filter-checkboxes li {
    margin-bottom: 12px;
}

.insight-mainbox {
    display: block;
    margin-bottom: 60px;

    .imgwrap {
        position: relative;
        overflow: hidden;
        aspect-ratio: 16 / 9;
        margin-bottom: 20px;

        img {
            transition: 0.8s;
        }
    }

    p {
        font-size: 14px;
        color: #000;
        transition: 0.3s;
        margin: 0;
    }

    .date {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .title {
        font-size: 20px;
        font-family: "Libre Baskerville", serif;
        color: $primary;
    }

    &:hover {
        p {
            // color: $gold;
        }

        .imgwrap img {
            transform: scale(1.1);
        }

        .descr {
            &::after {
                width: 100%;
            }
        }
    }

    .descr {
        padding-bottom: 20px;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: $gold;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            transition: 0.5s;
        }
    }
}

.insight-box {
    margin-bottom: 60px;

    .description {
        padding-bottom: 20px;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: $gold;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            transition: 0.5s;
        }
    }

    &:hover {
        .description {
            &::after {
                width: 100%;
            }
        }
    }
}

.perspectives {
    padding: 90px 0;
    border-bottom: 1px solid #C0C0C0;
}

.perspective-item {
    margin-bottom: 48px;
    padding-top: 24px;
    border-top: 1px solid #C0C0C0;
    display: block;

    p {
        color: $primary;
        font-size: 14px;
        font-family: "Libre Baskerville", serif;
        transition: 0.3s;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .date {
        margin-bottom: 8px;
        font-size: 12px;
        font-family: "Work Sans", sans-serif;
        color: #000;
    }

    &:hover {
        p {
            color: $gold;
        }
    }
}

.perspective-items {

    .col-xl-3,
    .col-lg-3 {
        &:nth-child(-n+4) {
            .perspective-item {
                padding-top: 0;
                border: none;
            }
        }
    }
}

.investments {
    padding: 80px 0 30px;
}

@media(max-width:1599.8px) {
    .insight-box {
        margin-bottom: 40px;
    }
}

@media(max-width:1399.8px) {
    .filtercheck label {
        font-size: 14px;
    }

    .filter-tabbtns {
        max-width: 120px;
        flex: 0 0 120px;
    }

    .filter-tabcontent {
        max-width: calc(100% - 120px);
        flex: 0 0 calc(100% - 120px);
    }

    .insight-box {
        margin-bottom: 20px;
    }

}

@media(max-width:1199.8px) {
    .perspective-items {

        .col-xl-3,
        .col-lg-3 {
            &:nth-child(-n+4) {
                .perspective-item {
                    padding-top: 24px;
                    border-top: 1px solid #C0C0C0;
                }
            }

            &:nth-child(-n+3) {
                .perspective-item {
                    padding-top: 0;
                    border-top: none;
                }
            }
        }
    }

    .perspective-item {
        margin-bottom: 25px;
    }
}

@media(max-width:991.8px) {

    .filter {
        margin-bottom: 40px;
    }

    .stickybox {
        position: relative;
        top: 0;
    }

    .insight-mainbox {
        margin-bottom: 30px;
    }

    .insights-section,
    .perspectives {
        padding: 60px 0;
    }

    .perspectives h3 {
        margin-bottom: 40px;
    }

    .investments {
        padding-bottom: 0;
    }







}

@media(max-width:767.8px) {


    .investments .insight-box {
        .date {
            font-size: 12px;
        }

        p {
            font-size: 14px;
        }
    }

    .perspective-items {

        .col-xl-3,
        .col-lg-3 {
            &:nth-child(-n+4) {
                .perspective-item {
                    padding-top: 24px;
                    border-top: 1px solid #C0C0C0;
                }
            }

            &:nth-child(-n+2) {
                .perspective-item {
                    padding-top: 0;
                    border-top: none;
                }
            }
        }
    }

}

@media(max-width:575.8px) {
    .insight-mainbox {
        margin-bottom: 20px;

        .title {
            margin-bottom: 10px;
        }
    }

    .insight-box .description {
        padding-bottom: 10px;
    }

    .insights-section {
        padding-bottom: 40px;
    }

    .perspectives {
        padding: 40px 0;
    }

    .perspective-item {
        margin-bottom: 15px;
        padding-top: 15px;
    }

    .perspectives .circle-link {
        margin-top: 20px;
    }

    .investments {
        padding-top: 40px;
    }

}