.whatwedosect {
    position: relative;
    overflow: hidden;
    padding: 120px 0;

    .bgelement {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        animation: pulse1 18s infinite;
        animation-timing-function:
            ease-in-out;
    }

    .container {
        position: relative;
        z-index: 2;
    }
}

.whatwedo__picwrap {
    position: relative;
    overflow: hidden;
    min-height: 645px;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.sectsubtitle.mb40 {
    margin-bottom: 40px;
}

.sectsubtitle.reverse {
    text-align: left;

    span {
        padding-left: 0;
    }
}

.wwd-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.wwd-topsect {
    width: 100%;
    margin-bottom: 50px;

    h2 {
        margin-bottom: 28px;
    }

    .descr {
        p {
            max-width: 520px;
            color: #000;
            font-size: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.wwd-bottsect {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.exploreservises {
    width: 100%;
    max-width: 217px;
    flex: 0 0 217px;
}

.textwrapper {
    width: 100%;
    max-width: calc(100% - 217px);
    flex: 0 0 calc(100% - 217px);
    padding-right: 90px;
    margin-left: -18px;
    margin-right: -18px;
    display: flex;

    .textwrapper-col {
        padding-left: 18px;
        padding-right: 18px;
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;

        p {
            color: $primary;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.exploreservises__box {
    background: $gold;
    position: relative;
    padding: 97px 40px 40px 44px;
    text-align: center;

    p {
        margin-bottom: 8px;
        color: #fff;
        color: #fff;
    }

    .arrbtn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1px solid #C0C0C0;
        transition: 0.3s;

        &:hover {
            border-color: #fff;
        }

        img {
            width: 20px;
        }
    }

    .toppic {
        width: 100%;
        max-width: 180px;
        position: absolute;
        top: -110px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

}

.services {
    background: $primary;
    padding: 120px 0;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

.tab-btn {
    width: 100%;
    height: 73px;
    border: 1px solid rgba(#B69D68, 0.2);
    color: #fff;
    font-size: 24px;
    background: transparent;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    transition: 0.3s;
    cursor: pointer;

    &:hover,
    &.active {
        border-color: #B69D68;
    }
}

.services__tabbtns {
    margin-bottom: 80px;
}

.tabimg {
    height: 428px;
    position: relative;
    overflow: hidden;
    margin-bottom: 45px;
}

.servdescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.servdescription__top {
    h3 {
        margin-bottom: 30px;
        color: #fff;
        text-transform: uppercase;
    }

    p {
        color: #fff;
        font-size: 14px;
        max-width: 575px;
    }
}

.servdescription__bottom {
    .title {
        margin-bottom: 24px;
        color: #fff;
        font-size: 24px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-width: 575px;

        li {
            min-height: 64px;
            display: flex;
            align-items: center;
            padding: 10px 0;
            color: #fff;
            border-bottom: 1px solid rgba(#C0C0C0, 0.5);

            &:nth-child(1) {
                border-top: 1px solid rgba(#C0C0C0, 0.5);
            }
        }
    }



}

.insights {
    padding: 120px 0 50px;

    .circle-link {
        margin-top: 30px;
    }

    .insight-box {
        margin-bottom: 0;
    }
}

.insight-box {
    display: block;

    .imgwrap {
        position: relative;
        overflow: hidden;
    }

    img {
        width: 100%;
        vertical-align: top;
    }

    p {
        margin: 0;
        font-family: "Libre Baskerville", serif;
        font-size: 18px;
        color: $primary;
        transition: 0.3s;
    }

    .date {
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        color: #000;
        margin-bottom: 8px;
    }

    &.insight-box__small {

        p {
            font-size: 14px;
        }

        .date {
            font-size: 12px;
            margin-bottom: 8px;
        }
    }

    .description {
        transition: 0.5s;
        padding-top: 12px;
        padding-bottom: 10px;
    }

    &:hover {
        .description {
            p {
                color: $gold;
            }
        }
    }
}

.insights .circle-link span {
    min-width: 140px;
}

@media(max-width:1499.8px) {
    .textwrapper {
        margin: 0;
        padding-right: 50px;
    }

    .wwd-topsect {
        margin-bottom: 20px;

        .descr p {
            font-size: 21px;
        }
    }

    .whatwedo__picwrap {
        min-height: 600px;
    }

}

@media(max-width:1399.8px) {

    .whatwedosect,
    .services {
        padding: 100px 0;
    }

    .insights {
        padding-top: 100px;
    }

    .textwrapper {
        padding-right: 20px;
    }

    .wwd-topsect h2 {
        margin-bottom: 15px;
    }

    .whatwedo__picwrap {
        min-height: 550px;
    }

    .tab-btn {
        font-size: 21px;
        height: 60px;
    }

    .tabimg {
        height: 370px;
    }


    .wwd-topsect .descr p {
        font-size: 18px;
    }

    .textwrapper .textwrapper-col p {
        font-size: 14px;
    }
}

@media(max-width:1199.8px) {
    .tab-btn {
        font-size: 18px;
    }

    .services__tabbtns {
        margin-bottom: 50px;
    }

    .servdescription__top h3 {
        margin-bottom: 15px;
    }

    .servdescription__bottom .title {
        margin-bottom: 15px;
    }

    .servdescription__bottom ul li {
        min-height: 54px;
    }
}

@media(max-width:991.8px) {
    .whatwedo__picwrap {
        display: none;
    }

    .wwd-topsect .descr p {
        max-width: 450px;
    }

    .servdescription__top p,
    .servdescription__bottom ul {
        max-width: 100%;
    }

    .servdescription__top p {
        font-size: 16px;
    }

    .servdescription__bottom {
        margin-bottom: 30px;
    }

    .tabimg {
        height: 300px;
        margin-bottom: 15px;

        img {
            object-position: center top;
        }
    }

    .insights {
        padding-top: 80px;
    }


    .tab-btn {
        font-size: 16px;
        padding: 6px 10px;
    }

    .services,
    .whatwedosect {
        padding: 80px 0;
    }
}

@media(max-width:767.8px) {
    .insights {
        padding-top: 70px;
    }

    .services,
    .whatwedosect {
        padding: 70px 0;
    }

    .exploreservises {
        max-width: 160px;
        flex: 0 0 160px;
    }

    .textwrapper {
        max-width: calc(100% - 160px);
        flex: 0 0 calc(100% - 160px);
    }

    .exploreservises__box {
        padding: 50px 15px 20px 15px;

        p {
            font-size: 14px;
        }

        .toppic {
            max-width: 100px;
            top: -60px;
        }
    }

    .textwrapper {
        flex-wrap: wrap;

        .textwrapper-col {
            padding: 0;
            max-width: 100%;
            flex: 0 0 100%;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .insight-box {
        margin-bottom: 20px;
    }

    .insights .circle-link {
        margin-top: 10px;
    }



}

@media(max-width:575.8px) {

    .services,
    .whatwedosect {
        padding: 60px 0;
    }

    .sectsubtitle.mb40 {
        margin-bottom: 20px;
    }

    .wwd-topsect .descr p {
        max-width: 100%;
        font-size: 16px;
    }
    
    .exploreservises {
        display: none;
    }

    .textwrapper {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .tabimg {
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .textwrapper .textwrapper-col {
        margin-bottom: 10px;
    }

    .insights {
        padding-top: 60px;
        padding-bottom: 0;
    }























}